Repository han-tyumi/amber: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-check, gleam-format, deno-check, deno-lint, deno-format

gleam-check:
  run: gleam check

gleam-format:
  run: gleam format {staged_files}
  stage_fixed: true

deno-check:
  run: deno check {staged_files}

deno-lint:
  run: deno lint {staged_files}

deno-format:
  run: deno fmt {staged_files}
  stage_fixed: true

use async_test & spy
  test/amber/web/promise_test.gleam
Due: gleam-check, gleam-format

use snake_case for ffi exports
  .vscode/gleam.code-snippets
  .vscode/typescript.code-snippets
  deno.json
  src/amber/fs.gleam
  src/amber/fs/fs_file.gleam
  src/amber/fs/fs_file_ffi.ts
  src/amber/fs/fs_watcher.gleam
  src/amber/fs/fs_watcher_ffi.ts
  src/amber/fs_ffi.ts
  src/amber/web.gleam
  src/amber/web/array_buffer.gleam
  src/amber/web/array_buffer_ffi.ts
  src/amber/web/iterator.gleam
  src/amber/web/iterator_ffi.ts
  src/amber/web/promise.gleam
  src/amber/web/promise_ffi.ts
  src/amber/web/text_decoder.gleam
  src/amber/web/text_decoder_ffi.ts
  src/amber/web/text_encoder.gleam
  src/amber/web/text_encoder_ffi.ts
  src/amber/web/uint8_array.gleam
  src/amber/web/uint8_array_ffi.ts
  src/amber/web_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add using for FsFile
  build.ts
  src/amber/fs/fs_file.gleam
  src/amber/fs/fs_file_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add byte values for Uint8Array
  src/amber/web/uint8_array.gleam
  src/amber/web/uint8_array_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

break up umask
  src/amber/fs.gleam
  src/amber/fs_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add Other Error constructor
  src/amber/error.gleam
  src/amber/error.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

use BytesRead over Option
  src/amber/fs/bytes_read.gleam
  src/amber/fs/bytes_read.ts
  src/amber/fs/fs_file.gleam
  src/amber/fs/fs_file_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

break up truncate_sync
  src/amber/fs/fs_file.gleam
  src/amber/fs/fs_file_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

remove Bool from open Read
  src/amber/fs/open.gleam
  src/amber/fs_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

catch open and create sync errors as Result
  src/amber/fs.gleam
  src/amber/fs_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

catch FsFile write and stat errors as Result
  src/amber/fs/fs_file.gleam
  src/amber/fs/fs_file_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add initial files test
  test/amber/fs/files_test.gleam
  test/testdata/assets/fixture.json
  test/testdata/assets/hello.txt
Due: gleam-check, gleam-format, deno-format

remove lazy utils
  src/utils/lazy.ts
Due: deno-check, deno-lint, deno-format

update watch to be broader
  .justfile
Due: none

update README
  README.md
Due: deno-format

also watch json
  .justfile
Due: none

migrate fs module to deno
  README.md
  deno.json
  src/amber/deno.gleam
  src/amber/deno/bytes_read.gleam
  src/amber/deno/bytes_read.ts
  src/amber/deno/dir_entry.gleam
  src/amber/deno/error.gleam
  src/amber/deno/error.ts
  src/amber/deno/file_info.gleam
  src/amber/deno/file_info.ts
  src/amber/deno/fs_event.gleam
  src/amber/deno/fs_file.gleam
  src/amber/deno/fs_file_ffi.ts
  src/amber/deno/fs_watcher.gleam
  src/amber/deno/fs_watcher_ffi.ts
  src/amber/deno/make_temp.gleam
  src/amber/deno/mkdir.gleam
  src/amber/deno/open.gleam
  src/amber/deno/read_file.gleam
  src/amber/deno/remove.gleam
  src/amber/deno/seek_mode.gleam
  src/amber/deno/set_raw.gleam
  src/amber/deno/symlink.gleam
  src/amber/deno/watch_fs.gleam
  src/amber/deno/write_file.gleam
  src/amber/deno_ffi.ts
  src/amber/fs.gleam
  src/amber/fs/fs_file.gleam
  src/amber/fs/fs_watcher.gleam
  test/amber/fs/files_test.gleam
  test/amber/fs/link_sync_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

bump to 0.3.0
  gleam.toml
Due: none

update Hex description
  gleam.toml
Due: none

move EncodeIntoResult
  src/amber/web/text_encoder.gleam
  src/amber/web/text_encoder/encode_into_result.gleam
  src/amber/web/text_encoder_ffi.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

use .ffi instead of _ffi
  build.ts
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
  src/amber/deno/fs_file.ffi.ts
  src/amber/deno/fs_file.gleam
  src/amber/deno/fs_watcher.ffi.ts
  src/amber/deno/fs_watcher.gleam
  src/amber/web.ffi.ts
  src/amber/web.gleam
  src/amber/web/array_buffer.ffi.ts
  src/amber/web/array_buffer.gleam
  src/amber/web/iterator.ffi.ts
  src/amber/web/iterator.gleam
  src/amber/web/promise.ffi.ts
  src/amber/web/promise.gleam
  src/amber/web/readable_stream.gleam
  src/amber/web/text_decoder.ffi.ts
  src/amber/web/text_decoder.gleam
  src/amber/web/text_encoder.ffi.ts
  src/amber/web/text_encoder.gleam
  src/amber/web/uint8_array.ffi.ts
  src/amber/web/uint8_array.gleam
  test/gleeunit/spy.gleam
  test/spy.ffi.mjs
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

simplify internal import map
  deno.json
  iterator.d.ts
  prelude.d.ts
  src/amber/deno.ffi.ts
  src/amber/deno/bytes_read.ts
  src/amber/deno/error.ts
  src/amber/deno/file_info.ts
  src/amber/deno/fs_file.ffi.ts
  src/amber/deno/fs_watcher.ffi.ts
  src/amber/web.ffi.ts
  src/amber/web/array_buffer.ffi.ts
  src/amber/web/iterator.ffi.ts
  src/amber/web/promise.ffi.ts
  src/amber/web/text_decoder.ffi.ts
  src/amber/web/text_encoder.ffi.ts
  src/amber/web/uint8_array.ffi.ts
  src/utils/CustomTypeOptionsMap.ts
  src/utils/enumCustomType.ts
  src/utils/list.ts
  src/utils/option.ts
  src/utils/result.ts
  test/spy.ffi.mjs
Due: deno-check, deno-lint, deno-format

fix build script
  build.ts
Due: deno-check, deno-lint, deno-format

improve replaced external paths
  build.ts
Due: deno-check, deno-lint, deno-format

simplify build script
  build.ts
  deno.json
  deno.lock
Due: deno-check, deno-lint, deno-format

upgrade tools
  .tool-versions
Due: none

fix open_sync test
  test/amber/fs/files_test.gleam
Due: gleam-check, gleam-format

fix types
  .justfile
  deno.json
  iterator.d.ts
  lefthook.yml
  patch/dev/javascript/amber/gleam.d.mts
  patch/dev/javascript/gleam_stdlib/gleam.d.mts
  src/amber/web/iterator.ffi.ts
Due: deno-check, deno-lint, deno-format

add format recipe
  .justfile
Due: none

add extension recommendations
  .vscode/extensions.json
Due: deno-format

update snippets
  .vscode/gleam.code-snippets
  .vscode/typescript.code-snippets
Due: none

add runtime functions used by command tests
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
  src/amber/deno/build.gleam
  src/amber/deno/build/arch.gleam
  src/amber/deno/build/arch.ts
  src/amber/deno/build/os.gleam
  src/amber/deno/build/os.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add queue_microtask
  src/amber/web.ffi.ts
  src/amber/web.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add AbortSignal
  src/amber/deno/read_file.gleam
  src/amber/deno/write_file.gleam
  src/amber/web.gleam
  src/amber/web/abort_signal.ffi.ts
  src/amber/web/abort_signal.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add AbortController
  src/amber/web/abort_controller.ffi.ts
  src/amber/web/abort_controller.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add iterator.for
  src/amber/web/iterator.ffi.ts
  src/amber/web/iterator.gleam
  src/amber/web/iterator_result.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add AsyncIterator
  src/amber/web/async_iterator.ffi.ts
  src/amber/web/async_iterator.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

remove abort_with
  src/amber/web/abort_controller.ffi.ts
  src/amber/web/abort_controller.gleam
  src/amber/web/abort_signal.ffi.ts
  src/amber/web/abort_signal.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

simplify text encoder & decoder
  src/amber/web/text_decode_option.gleam
  src/amber/web/text_decoder.ffi.ts
  src/amber/web/text_decoder.gleam
  src/amber/web/text_decoder/text_decoder_option.gleam
  src/amber/web/text_decoder/text_decoder_option.ts
  src/amber/web/text_encoder.ffi.ts
  src/amber/web/text_encoder.gleam
  test/amber/fs/files_test.gleam
  test/amber/fs/link_sync_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

Path conditions:
  gleam-check: any of: *.gleam
  gleam-format: any of: *.gleam
  deno-check: any of: *.ts
  deno-lint: any of: *.ts
  deno-format: any of: *.{ts,md,json,yml}
