Repository han-tyumi/amber: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-check, gleam-format, deno-check, deno-lint, deno-format

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    gleam-check:
      glob: "*.gleam"
      run: gleam check

    gleam-format:
      glob: "*.gleam"
      run: gleam format {staged_files}
      stage_fixed: true

    deno-check:
      glob: "*.ts"
      run: deno check {staged_files}

    deno-lint:
      glob: "*.ts"
      run: deno lint {staged_files}

    deno-format:
      glob: "*.{ts,md,json,yml}"
      run: deno fmt {staged_files}
      stage_fixed: true

add WritableStream
  src/amber/web/writable_stream.ffi.ts
  src/amber/web/writable_stream.gleam
  src/amber/web/writable_stream/writer.ffi.ts
  src/amber/web/writable_stream/writer.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add ArrayBufferView
  src/amber/web/array_buffer_view.gleam
  src/amber/web/array_buffer_view.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add ReadableStream
  src/amber/deno/fs_file.gleam
  src/amber/web.gleam
  src/amber/web/readable_stream.ffi.ts
  src/amber/web/readable_stream.gleam
  src/amber/web/readable_stream/byob_reader.ffi.ts
  src/amber/web/readable_stream/byob_reader.gleam
  src/amber/web/readable_stream/byob_reader_read_option.gleam
  src/amber/web/readable_stream/byob_reader_read_option.ts
  src/amber/web/readable_stream/read_result.gleam
  src/amber/web/readable_stream/read_result.ts
  src/amber/web/readable_stream/reader.ffi.ts
  src/amber/web/readable_stream/reader.gleam
  src/amber/web/readable_stream/stream_pipe_option.gleam
  src/amber/web/readable_stream/stream_pipe_option.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add TextEncoderStream & TextDecoderStream
  src/amber/web/text_decoder_stream.ffi.ts
  src/amber/web/text_decoder_stream.gleam
  src/amber/web/text_encoder_stream.ffi.ts
  src/amber/web/text_encoder_stream.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add Json parse & stringify
  src/amber/web/json.ffi.ts
  src/amber/web/json.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add signals
  src/amber/deno/signal.gleam
  src/amber/deno/signal.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add missing toObjectWithMap
  src/utils/dict.ts
Due: deno-check, deno-lint, deno-format

improve dict typings
  src/utils/dict.ts
Due: deno-check, deno-lint, deno-format

add Command
  src/amber/deno/child_process.ffi.ts
  src/amber/deno/child_process.gleam
  src/amber/deno/command.ffi.ts
  src/amber/deno/command.gleam
  src/amber/deno/command/command_option.gleam
  src/amber/deno/command/command_option.ts
  src/amber/deno/command/command_output.gleam
  src/amber/deno/command/command_output.ts
  src/amber/deno/command/command_status.gleam
  src/amber/deno/command/command_status.ts
  src/amber/deno/error.gleam
  src/amber/deno/stdio_option.gleam
  src/amber/deno/stdio_option.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add uint8_array.from_buffer
  src/amber/web/uint8_array.ffi.ts
  src/amber/web/uint8_array.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add promise from_result and from_option
  src/amber/web/promise.gleam
Due: gleam-check, gleam-format

add command tests
  gleam.toml
  test/amber/command_test.gleam
Due: gleam-check, gleam-format

bump version
  gleam.toml
Due: none

bump lefthook
  .tool-versions
Due: none

add remaining runtime functions
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
  src/amber/deno/env.ffi.ts
  src/amber/deno/env.gleam
  src/amber/deno/memory_usage.gleam
  src/amber/deno/memory_usage.ts
  src/amber/deno/system_memory_info.gleam
  src/amber/deno/system_memory_info.ts
  src/amber/deno/version.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add remaining web platform functions
  src/amber/web.ffi.ts
  src/amber/web.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

move runtime functions to bottom
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add deno.kill
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

fix Dict import
  src/amber/deno/env.ffi.ts
Due: deno-check, deno-lint, deno-format

Squashed commit of the following:
  .changeset/improved_types_and_upgraded_tooling.md
  .justfile
  .tool-versions
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  deno.json
  deno.lock
  knope.toml
  manifest.toml
  patch/dev/javascript/gleeunit/gleam.d.mts
  src/amber/deno/error.ts
  src/amber/web/async_iterator.ffi.ts
  src/amber/web/iterator.ffi.ts
  src/amber/web/iterator_result.ts
  src/utils/CustomTypeOptionsMap.ts
  src/utils/enumCustomType.ts
  src/utils/types.d.ts
Due: deno-check, deno-lint, deno-format

chore: prepare release 0.5.1
  .changeset/improved_types_and_upgraded_tooling.md
  CHANGELOG.md
  gleam.toml
Due: deno-format

migrate all FFI code to Gleam v1.13 stable API, remove deprecated utilities
  .vscode/extensions.json
  .vscode/typescript.code-snippets
  src/amber/deno.ffi.ts
  src/amber/deno/build/arch.ts
  src/amber/deno/build/os.ts
  src/amber/deno/bytes_read.ts
  src/amber/deno/command/command_option.ts
  src/amber/deno/command/command_output.ts
  src/amber/deno/command/command_status.ts
  src/amber/deno/error.ts
  src/amber/deno/file_info.ts
  src/amber/deno/fs_file.ffi.ts
  src/amber/deno/fs_watcher.ffi.ts
  src/amber/deno/memory_usage.ts
  src/amber/deno/signal.ts
  src/amber/deno/stdio_option.ts
  src/amber/deno/system_memory_info.ts
  src/amber/web/abort_signal.ffi.ts
  src/amber/web/iterator_result.ts
  src/amber/web/json.ffi.ts
  src/amber/web/promise.ffi.ts
  src/amber/web/readable_stream/byob_reader_read_option.ts
  src/amber/web/readable_stream/read_result.ts
  src/amber/web/readable_stream/stream_pipe_option.ts
  src/amber/web/text_decoder/text_decoder_option.ts
  src/amber/web/text_encoder.ffi.ts
  src/utils/CustomTypeOptionsMap.ts
  src/utils/enumCustomType.ts
  src/utils/list.ts
  src/utils/types.d.ts
  test/spy.ffi.mjs
Due: deno-check, deno-lint, deno-format

chore: prepare release 0.6.0
  CHANGELOG.md
  gleam.toml
Due: deno-format

chore: update tooling and CI dependencies
  .github/workflows/test.yml
  .tool-versions
  README.md
Due: deno-format

chore: remove opaque TODOs from DirEntry and FileInfo
  src/amber/deno/dir_entry.gleam
  src/amber/deno/file_info.gleam
Due: gleam-check, gleam-format

feat(web): add TextDecoder instance properties
  src/amber/web/text_decoder.ffi.ts
  src/amber/web/text_decoder.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(deno): add consoleSize, inspect, and networkInterfaces
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
  src/amber/deno/console_size.gleam
  src/amber/deno/console_size.ts
  src/amber/deno/inspect_option.gleam
  src/amber/deno/inspect_option.ts
  src/amber/deno/network_interface_info.gleam
  src/amber/deno/network_interface_info.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(deno): add stdin, stdout, and stderr bindings
  src/amber/deno/fs_file.ffi.ts
  src/amber/deno/set_raw.ts
  src/amber/deno/stderr.ffi.ts
  src/amber/deno/stderr.gleam
  src/amber/deno/stdin.ffi.ts
  src/amber/deno/stdin.gleam
  src/amber/deno/stdout.ffi.ts
  src/amber/deno/stdout.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

test: add stdio, tty, and network interfaces tests
  gleam.toml
  test/amber/network_interfaces_test.gleam
  test/amber/stdio_test.gleam
  test/amber/tty_test.gleam
Due: gleam-check, gleam-format

feat(web): complete Uint8Array API
  src/amber/web/uint8_array.ffi.ts
  src/amber/web/uint8_array.gleam
  test/amber/web/uint8_array_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

fix(web)!: use Dynamic for Promise catch rejection reason
  src/amber/web/promise.ffi.ts
  src/amber/web/promise.gleam
  test/amber/web/promise_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(web): add ReadableStream and WritableStream creation
  src/amber/web/readable_stream.ffi.ts
  src/amber/web/readable_stream.gleam
  src/amber/web/readable_stream/default_controller.ffi.ts
  src/amber/web/readable_stream/default_controller.gleam
  src/amber/web/readable_stream/underlying_source.gleam
  src/amber/web/readable_stream/underlying_source.ts
  src/amber/web/writable_stream.ffi.ts
  src/amber/web/writable_stream.gleam
  src/amber/web/writable_stream/default_controller.ffi.ts
  src/amber/web/writable_stream/default_controller.gleam
  src/amber/web/writable_stream/underlying_sink.gleam
  src/amber/web/writable_stream/underlying_sink.ts
  test/amber/web/stream_creation_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(web): add TransformStream
  src/amber/web/readable_stream/underlying_source.gleam
  src/amber/web/transform_stream.ffi.ts
  src/amber/web/transform_stream.gleam
  src/amber/web/transform_stream/default_controller.ffi.ts
  src/amber/web/transform_stream/default_controller.gleam
  src/amber/web/transform_stream/transformer.gleam
  src/amber/web/transform_stream/transformer.ts
  test/amber/web/stream_creation_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(web): add CompressionStream and DecompressionStream
  src/amber/web/compression_format.gleam
  src/amber/web/compression_format.ts
  src/amber/web/compression_stream.ffi.ts
  src/amber/web/compression_stream.gleam
  src/amber/web/decompression_stream.ffi.ts
  src/amber/web/decompression_stream.gleam
  test/amber/web/compression_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(web): add URL and URLSearchParams
  src/amber/web/url.ffi.ts
  src/amber/web/url.gleam
  src/amber/web/url_search_params.ffi.ts
  src/amber/web/url_search_params.gleam
  test/amber/web/url_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(web): add Headers, Request, and Response
  src/amber/web/headers.ffi.ts
  src/amber/web/headers.gleam
  src/amber/web/request.ffi.ts
  src/amber/web/request.gleam
  src/amber/web/request_init.gleam
  src/amber/web/request_init.ts
  src/amber/web/response.ffi.ts
  src/amber/web/response.gleam
  src/amber/web/response_init.gleam
  src/amber/web/response_init.ts
  test/amber/web/fetch_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(web): add fetch
  src/amber/web.ffi.ts
  src/amber/web.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(deno): add Deno.serve() HTTP server
  gleam.toml
  src/amber/deno/net_addr.gleam
  src/amber/deno/serve.ffi.ts
  src/amber/deno/serve.gleam
  src/amber/deno/serve/serve_handler_info.gleam
  src/amber/deno/serve/serve_option.gleam
  test/amber/serve_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format
