Repository han-tyumi/amber: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-check, gleam-format, deno-check, deno-lint, deno-format

gleam-check:
  run: gleam check

gleam-format:
  run: gleam format {staged_files}
  stage_fixed: true

deno-check:
  run: deno check {staged_files}

deno-lint:
  run: deno lint {staged_files}

deno-format:
  run: deno fmt {staged_files}
  stage_fixed: true

feat(deno): add TCP networking with listen and connect
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
  src/amber/deno/conn.ffi.ts
  src/amber/deno/conn.gleam
  src/amber/deno/conn/tcp_conn.ffi.ts
  src/amber/deno/conn/tcp_conn.gleam
  src/amber/deno/connect_option.gleam
  src/amber/deno/connect_option.ts
  src/amber/deno/listen_option.gleam
  src/amber/deno/listen_option.ts
  src/amber/deno/listener.ffi.ts
  src/amber/deno/listener.gleam
  src/amber/deno/net_addr.ts
  src/amber/deno/serve.ffi.ts
  test/amber/net_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(web): add WebSocket, CloseEvent, MessageEvent, and Deno.upgradeWebSocket
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
  src/amber/deno/upgrade_web_socket_option.gleam
  src/amber/deno/upgrade_web_socket_option.ts
  src/amber/deno/web_socket_upgrade.gleam
  src/amber/deno/web_socket_upgrade.ts
  src/amber/web/binary_type.gleam
  src/amber/web/binary_type.ts
  src/amber/web/close_event.gleam
  src/amber/web/close_event.ts
  src/amber/web/message_event.ffi.ts
  src/amber/web/message_event.gleam
  src/amber/web/web_socket.ffi.ts
  src/amber/web/web_socket.gleam
  src/amber/web/web_socket_option.gleam
  src/amber/web/web_socket_option.ts
  test/amber/web/web_socket_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(deno): add TLS networking with connectTls, listenTls, and startTls
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
  src/amber/deno/conn/tls_conn.ffi.ts
  src/amber/deno/conn/tls_conn.gleam
  src/amber/deno/connect_tls_option.gleam
  src/amber/deno/connect_tls_option.ts
  src/amber/deno/listen_tls_option.gleam
  src/amber/deno/listen_tls_option.ts
  src/amber/deno/start_tls_option.gleam
  src/amber/deno/start_tls_option.ts
  src/amber/deno/tls_certified_key_pem.gleam
  src/amber/deno/tls_handshake_info.gleam
  src/amber/deno/tls_handshake_info.ts
  src/amber/deno/tls_listener.ffi.ts
  src/amber/deno/tls_listener.gleam
  test/amber/tls_test.gleam
  test/fixtures/tls/ca.crt
  test/fixtures/tls/localhost.crt
  test/fixtures/tls/localhost.key
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(web): add Web Crypto API with typed algorithm parameters
  src/amber/web/crypto.ffi.ts
  src/amber/web/crypto.gleam
  src/amber/web/crypto_key.ffi.ts
  src/amber/web/crypto_key.gleam
  src/amber/web/crypto_key_pair.gleam
  src/amber/web/crypto_key_pair.ts
  src/amber/web/key_format.gleam
  src/amber/web/key_format.ts
  src/amber/web/key_type.gleam
  src/amber/web/key_type.ts
  src/amber/web/key_usage.gleam
  src/amber/web/key_usage.ts
  src/amber/web/subtle_crypto.ffi.ts
  src/amber/web/subtle_crypto.gleam
  src/amber/web/subtle_crypto/derive_algorithm.gleam
  src/amber/web/subtle_crypto/derive_algorithm.ts
  src/amber/web/subtle_crypto/derived_key_type.gleam
  src/amber/web/subtle_crypto/derived_key_type.ts
  src/amber/web/subtle_crypto/encrypt_algorithm.gleam
  src/amber/web/subtle_crypto/encrypt_algorithm.ts
  src/amber/web/subtle_crypto/import_algorithm.gleam
  src/amber/web/subtle_crypto/import_algorithm.ts
  src/amber/web/subtle_crypto/key_gen_algorithm.gleam
  src/amber/web/subtle_crypto/key_gen_algorithm.ts
  src/amber/web/subtle_crypto/key_pair_gen_algorithm.gleam
  src/amber/web/subtle_crypto/key_pair_gen_algorithm.ts
  src/amber/web/subtle_crypto/sign_algorithm.gleam
  src/amber/web/subtle_crypto/sign_algorithm.ts
  src/amber/web/subtle_crypto/wrap_algorithm.gleam
  src/amber/web/subtle_crypto/wrap_algorithm.ts
  test/amber/web/crypto_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(deno): add Deno.resolveDns() with typed record results
  src/amber/deno.ffi.ts
  src/amber/deno.gleam
  src/amber/deno/caa_record.gleam
  src/amber/deno/caa_record.ts
  src/amber/deno/mx_record.gleam
  src/amber/deno/mx_record.ts
  src/amber/deno/naptr_record.gleam
  src/amber/deno/naptr_record.ts
  src/amber/deno/record_type.gleam
  src/amber/deno/record_type.ts
  src/amber/deno/resolve_dns_option.gleam
  src/amber/deno/resolve_dns_option.ts
  src/amber/deno/soa_record.gleam
  src/amber/deno/soa_record.ts
  src/amber/deno/srv_record.gleam
  src/amber/deno/srv_record.ts
  test/amber/resolve_dns_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

feat(web): add Blob, File, and FormData
  src/amber/web/blob.ffi.ts
  src/amber/web/blob.gleam
  src/amber/web/file.ffi.ts
  src/amber/web/file.gleam
  src/amber/web/form_data.ffi.ts
  src/amber/web/form_data.gleam
  test/amber/web/blob_test.gleam
  test/amber/web/file_test.gleam
  test/amber/web/form_data_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

chore: update vscode TOML formatter to tombi
  .vscode/settings.json
Due: deno-format

feat: add global_this module with alert, confirm, prompt, close
  src/amber/global_this.ffi.ts
  src/amber/global_this.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

docs: add COVERAGE.md and update README
  COVERAGE.md
  README.md
Due: deno-format

chore: add 1.0.0 changeset
  .changeset/1.0.0.md
Due: deno-format

chore: remove changeset, using --override-version instead
  .changeset/1.0.0.md
Due: deno-format

chore: add Deno version note to release workflow
  knope.toml
  scripts/note_deno_version.ts
Due: deno-check, deno-lint, deno-format

chore: prepare release 1.0.0
  CHANGELOG.md
  gleam.toml
Due: deno-format

chore: add Deno version note to 1.0.0 changelog
  CHANGELOG.md
Due: deno-format

fix: stage changelog after Deno version injection in release workflow
  knope.toml
Due: none

feat: add labels, Other(String) variants, and callback widening
  src/amber.gleam
  src/amber/build/arch.gleam
  src/amber/build/arch.ts
  src/amber/build/os.gleam
  src/amber/build/os.ts
  src/amber/child_process.gleam
  src/amber/command.gleam
  src/amber/conn.gleam
  src/amber/conn/tcp_conn.gleam
  src/amber/env.gleam
  src/amber/fs_file.gleam
  src/amber/fs_watcher.gleam
  src/amber/global_this.gleam
  src/amber/listener.gleam
  src/amber/serve.gleam
  src/amber/stdin.gleam
  src/amber/tls_listener.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

chore: prepare release 1.1.0
  CHANGELOG.md
  gleam.toml
Due: deno-format

fix: ensure Deno version note is included in release commit
  CHANGELOG.md
  knope.toml
Due: deno-format

feat: add missing API members, doc comments, and env tests
  COVERAGE.md
  gleam.toml
  src/amber.gleam
  src/amber/command/command_option.gleam
  src/amber/command/command_option.ts
  src/amber/connect_tls_option.gleam
  src/amber/connect_tls_option.ts
  src/amber/fs_file.ffi.ts
  src/amber/fs_file.gleam
  src/amber/listen_option.gleam
  src/amber/listen_option.ts
  src/amber/serve.ffi.ts
  src/amber/serve.gleam
  src/amber/serve/serve_option.gleam
  src/amber/start_tls_option.gleam
  src/amber/start_tls_option.ts
  test/amber/env_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

fix: separate git add and commit steps in release workflow
  CHANGELOG.md
  gleam.toml
  knope.toml
Due: deno-format

chore: prepare release 1.3.0
  CHANGELOG.md
  gleam.toml
Due: deno-format

feat!: wrap throwable sync APIs in Result
  src/amber.ffi.ts
  src/amber.gleam
  src/amber/stderr.ffi.ts
  src/amber/stderr.gleam
  src/amber/stdin.ffi.ts
  src/amber/stdin.gleam
  src/amber/stdout.ffi.ts
  src/amber/stdout.gleam
  test/amber/fs/files_test.gleam
  test/amber/stdio_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

chore: prepare release 2.0.0
  CHANGELOG.md
  gleam.toml
Due: deno-format

docs: update README usage example with labels
  README.md
Due: deno-format

feat!: upgrade gossamer to 6.x
  gleam.toml
  manifest.toml
  src/amber/file_info.gleam
Due: gleam-check, gleam-format

chore: update Deno 2.7.11 to 2.7.12
  .tool-versions
Due: none

feat!: wrap all throwable APIs in Result
  src/amber.ffi.ts
  src/amber.gleam
  src/amber/env.ffi.ts
  src/amber/env.gleam
  src/amber/fs_watcher.ffi.ts
  src/amber/fs_watcher.gleam
  src/amber/stderr.ffi.ts
  src/amber/stderr.gleam
  src/amber/stdin.ffi.ts
  src/amber/stdin.gleam
  src/amber/stdout.ffi.ts
  src/amber/stdout.gleam
  test/amber/env_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

docs: update package version badge color to amber
  README.md
Due: deno-format

fix: support Deno >= 2.2.10, relax NotADirectory test expectation
  COVERAGE.md
  README.md
  test/amber/command_test.gleam
Due: gleam-check, gleam-format, deno-format

chore: update deno.lock
  deno.lock
Due: none

chore: update gossamer to 6.2.0
  manifest.toml
Due: none

chore: prepare release 3.0.0
  CHANGELOG.md
  gleam.toml
Due: deno-format

Path conditions:
  gleam-check: any of: *.gleam
  gleam-format: any of: *.gleam
  deno-check: any of: *.ts
  deno-lint: any of: *.ts
  deno-format: any of: *.{ts,md,json,yml}
