Repository han-tyumi/amber: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-check, gleam-format, deno-check, deno-lint, deno-format, only-mjs

gleam-check:
  run: gleam check

gleam-format:
  run: gleam format {staged_files}
  stage_fixed: true

deno-check:
  run: deno check {staged_files}

deno-lint:
  run: deno lint {staged_files}

deno-format:
  run: deno fmt {staged_files}
  stage_fixed: true

only-mjs:
  run: exit 1
  fail_text: JS files must use the `.mjs` extension.

add publish recipe
  .gitignore
  .justfile
Due: none

update readme
  README.md
Due: deno-format

add build script
  .gitignore
  .justfile
  build.ts
  deno.json
  deno.lock
  gleam.toml
Due: deno-format

enable more lint rules
  deno.json
Due: deno-format

move to TypeScript
  .vscode/settings.json
  lefthook.yml
  prelude.d.ts
  src/amber/error.gleam
  src/amber/error.ts
  src/amber/fs.gleam
  src/amber/fs/file_info.ts
  src/amber/fs/fs_event.gleam
  src/amber/fs/fs_file.gleam
  src/amber/fs/fs_file_ffi.ts
  src/amber/fs/fs_watcher.gleam
  src/amber/fs/fs_watcher_ffi.ts
  src/amber/fs/set_raw.gleam
  src/amber/fs_ffi.ts
  src/amber/web.gleam
  src/amber/web/text_encoder.gleam
  src/amber/web/text_encoder_ffi.ts
  src/amber/web/uint8_array.gleam
  src/amber/web/uint8_array_ffi.ts
  src/ffi_util.mjs
  src/fs_ffi.mjs
  src/fs_file_ffi.mjs
  src/fs_watcher_ffi.mjs
  src/utils/CustomTypeOptionsMap.ts
  src/utils/enum_custom_type.ts
  src/utils/lazy.ts
  src/utils/list.ts
  src/utils/nullish.ts
  src/utils/option.ts
  src/utils/result.ts
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add link_sync tests
  gleam.toml
  test/README.md
  test/amber/fs/link_sync_test.gleam
Due: gleam-check, gleam-format, deno-format

rearrange build script
  build.ts
Due: none

output directly to gleam build directory
  .gitignore
  .justfile
  build.ts
  deno.json
Due: deno-format

publish v0.2.0-rc1
  gleam.toml
Due: none

revert direct output
  .gitignore
  .justfile
  build.ts
  deno.json
Due: deno-format

publish 0.2.0-rc2
  gleam.toml
Due: none

Squashed commit of the following:
  .gitignore
  .justfile
  .vscode/settings.json
  README.md
  build.ts
  deno.json
  deno.lock
  gleam.toml
  lefthook.yml
  prelude.d.ts
  src/amber/error.gleam
  src/amber/error.ts
  src/amber/fs.gleam
  src/amber/fs/file_info.ts
  src/amber/fs/fs_event.gleam
  src/amber/fs/fs_file.gleam
  src/amber/fs/fs_file_ffi.ts
  src/amber/fs/fs_watcher.gleam
  src/amber/fs/fs_watcher_ffi.ts
  src/amber/fs/set_raw.gleam
  src/amber/fs_ffi.ts
  src/amber/web.gleam
  src/amber/web/text_encoder.gleam
  src/amber/web/text_encoder_ffi.ts
  src/amber/web/uint8_array.gleam
  src/amber/web/uint8_array_ffi.ts
  src/ffi_util.mjs
  src/fs_ffi.mjs
  src/fs_file_ffi.mjs
  src/fs_watcher_ffi.mjs
  src/utils/CustomTypeOptionsMap.ts
  src/utils/enum_custom_type.ts
  src/utils/lazy.ts
  src/utils/list.ts
  src/utils/nullish.ts
  src/utils/option.ts
  src/utils/result.ts
  test/README.md
  test/amber/fs/link_sync_test.gleam
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

update publish recipe
  .justfile
Due: none

try using jdx/mise-action
  .github/workflows/test.yml
Due: deno-format

Fix Test Workflow (#1)
  .github/workflows/test.yml
Due: deno-format

Update README.md
  README.md
Due: deno-format

trim trailing whitespace
  .vscode/settings.json
Due: deno-format

add initial snippets
  .vscode/gleam.code-snippets
  .vscode/typescript.code-snippets
Due: none

add DirEntry docs
  src/amber/fs/dir_entry.gleam
Due: gleam-check, gleam-format

add FileInfo docs
  src/amber/fs/file_info.gleam
Due: gleam-check, gleam-format

add FsEvent docs
  src/amber/fs/fs_event.gleam
Due: gleam-check, gleam-format

add initial iterator bindings
  src/amber/web/iterable.gleam
  src/amber/web/iterable_ffi.ts
  src/amber/web/iterable_iterator.gleam
  src/amber/web/iterable_iterator_ffi.ts
  src/amber/web/iterator.gleam
  src/amber/web/iterator_ffi.ts
  src/amber/web/iterator_result.gleam
Due: gleam-check, gleam-format

improve snippets
  .vscode/gleam.code-snippets
  .vscode/typescript.code-snippets
Due: none

add set & clear timeout
  src/amber/web.gleam
  src/amber/web_ffi.ts
Due: gleam-check, gleam-format

test on pre-commit
  lefthook.yml
Due: deno-format

add promise support
  src/amber/web/promise.gleam
  src/amber/web/promise_ffi.ts
  src/amber/web/promise_settled_result.gleam
  test/amber/web/promise_test.gleam
Due: gleam-check, gleam-format

add ArrayBuffer
  src/amber/web/array_buffer.gleam
  src/amber/web/array_buffer_ffi.ts
  src/amber/web/uint8_array.gleam
  src/amber/web/uint8_array_ffi.ts
Due: gleam-check, gleam-format

remove iterable
  src/amber/web/iterable.gleam
  src/amber/web/iterable_ffi.ts
  src/amber/web/iterable_iterator.gleam
  src/amber/web/iterable_iterator_ffi.ts
Due: gleam-check, gleam-format

add TextDecoder
  src/amber/web/text_decode_option.gleam
  src/amber/web/text_decoder.gleam
  src/amber/web/text_decoder_ffi.ts
  src/amber/web/text_decoder_option.gleam
Due: gleam-check, gleam-format

add encode_into
  src/amber/web/encode_into_result.gleam
  src/amber/web/text_encoder.gleam
  src/amber/web/text_encoder_ffi.ts
Due: gleam-check, gleam-format

fix iterator types
  deno.json
  iterator.d.ts
Due: deno-format

disable deno-check
  lefthook.yml
Due: deno-format

update tool versions
  .tool-versions
Due: none

upgrade deno
  .tool-versions
Due: none

add docs and watch recipes
  .justfile
Due: none

only use snake case for backing files
  src/amber/fs/fs_file_ffi.ts
  src/amber/fs/fs_watcher_ffi.ts
  src/amber/fs_ffi.ts
  src/utils/enumCustomType.ts
Due: none

remove develop
  .justfile
Due: none

add initial spy
  test/gleeunit/spy.gleam
  test/spy_ffi.mjs
Due: gleam-check, gleam-format, deno-check, deno-lint, deno-format

add async_test
  test/gleeunit/async_test.gleam
Due: gleam-check, gleam-format

Path conditions:
  gleam-check: any of: *.gleam
  gleam-format: any of: *.gleam
  deno-check: any of: *.mjs
  deno-lint: any of: *.mjs
  deno-format: any of: *.{mjs,md,json,yml}
  only-mjs: any of: *.{js,cjs}
